{% extends 'base.html.twig' %}

{% block title %}BPM Pitcher
{% endblock %}


{% block body %}

	<div id="home-page">
		<h1 class="text-center text-white">BPM FINDER</h1>
			<div class="mt-4 align-items-center d-flex justify-content-center flex-column">
		{% for bpm in bpms %}
				<a href={{path('app_show',{currentbpm:bpm.CurrentBPM})}} class="text-white h2">{{bpm.CurrentBPM}}</a><br>
		{% endfor %}
			</div>
		{# {{ 200.35|number_format(2) }} #}
	</div>
{% endblock %}
